<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserForm</servlet-name>
        <servlet-class>ru.kentyku.reportnet.reports.UserForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminForm</servlet-name>
        <servlet-class>ru.kentyku.reportnet.reports.AdminForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserForm</servlet-name>
        <url-pattern>/UserForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminForm</servlet-name>
        <url-pattern>/AdminForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
